extends layout

mixin photo(file, caption, alt)
  .photo 
    picture
      source(media="(min-width: 1920px)" srcset="img/photos/1920/"+file)
      source(media="(min-width: 1280px)" srcset="img/photos/1280/"+file+" 1x, img/photos/1920/" +file+" 2x" )
      source(media="(min-width: 640px)" srcset="img/photos/640/"+file+" 1x, img/photos/1280/" +file+" 2x" )
      source(media="(min-width: 320px)" srcset="img/photos/320/"+file+" 1x, img/photos/640/" +file+" 2x" )
      img(src="img/photos/640/" +file alt=alt)
    .caption
      p=caption

block content
  h3#logo / /\ / /\/
    ul
      li THREE ONE THREE
      li SIX ONE THREE
      li NINE ONE SEVEN TWO
    
  #photos
    +photo('j_detroit_2014_iain_maitland.png', 'Silhouette of a young man.', 'shadow detroit')
    +photo('national_theater_detroit_2012_iain_maitland.png', 'National Theater, Downtown Detroit.', 'National Theater Detroit Downtown')
    +photo('empty_houses_detroit_2012_iain_maitland.png', 'Empty Houses, Detroit.', 'National Theater Detroit Downtown')
    +photo('shaved_head_detroit_2011_iain_maitland.png', 'After getting head shaved, Detroit.', 'shaved head')
    +photo('chinese_restaurant_detroit_iain_maitland_2016.png', 'Old Chinese restaurant.', 'chinese restauraunt')
    +photo('ashley_outside_motel_2016_iain_maitland.png', 'Ashley waiting for Johns outside the Fontaine Motel on Woodward.', 'motel woodward trans')
    +photo('ashley_with_john_2016_iain_maitland.png', 'Ashley with a John at the Motel on Woodward.', 'motel woodward trans')
    +photo('ashley_voguing_2016_iain_maitland.png', 'Ashley voguing in the street.', 'voguing detroit trans')
    +photo('house_fire_2013_iain_maitland.png', 'A housefire in South West Detroit seen from the Renaissance Center.', 'fire detroit renaissance center')

