extends layout

block infobox

  infobox
    :marked
      Iain Maitland

      Programmer in Detroit. Currently: [Steem.io](https://steem.io/)

      Photography for: National Geographic, Vice, Viceland, 538/ESPN, BBC, MetroTimes and Mother Jones.

      Films at: NoBudge.com and Festival du cinéma de Brive.

      [Email](mailto:iain@iainmaitland.com)

block photos
