extends layout

block infobox

  infobox
    :markdown
      Iain Maitland is a photographer.

      Select Clients: National Geographic, Vice, Viceland, 538/ESPN, BBC, MetroTimes and Mother Jones.

      Contact: iain@iainmait.land

      Gallery: [The Horsebox Gallery.](http://thehorseboxgallery.com/)

block photos
