extends layout

block infobox

  infobox
    :markdown
      ### Iain Maitland

      Web developer in Detroit, into films and photography.

      Photography for: National Geographic, Vice, Viceland, 538/ESPN, BBC, MetroTimes and Mother Jones.

      Contact: iain@iainmait.land

      Twitter: @iain_maitland

block photos
