extends layout

block infobox

  infobox
    :marked
      Iain Maitland

      Programmer in Detroit. Currently: [Steemit](https://steemit.com/)

      Photography for: National Geographic, Vice, ESPN, BBC, Detroit MetroTimes and Mother Jones.

      Films at: NoBudge.com and Festival du cinéma de Brive.

      [Email](mailto:iain@iainmaitland.com)

block photos
