extends layout

block infobox

  infobox
    :marked
      Iain Maitland

      Photography for: National Geographic, Vice, ESPN, BBC, Detroit MetroTimes and Mother Jones.

      Films at: NoBudge.com and Festival du cinéma de Brive.

      [Email](mailto:imaitland@gmail.com) / [Github](https://github.com/gl2748) / [Twitter](https://twitter.com/gl2748)

block photos
