extends layout

block infobox

  infobox
    :marked
      ### Iain Maitland

      Web Developer in Detroit.

      Photography for: National Geographic, Vice, Viceland, 538/ESPN, BBC, MetroTimes and Mother Jones.

      Contact: iain@iainmaitland.com

      Twitter: @iain_maitland

block photos
