doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='photos, films, paintings, writing')
    meta(name='author', content= "Iain Maitland")
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name='robots', content= "index, follow")
    meta(name="google-site-verification" content="8pjOAXtdetHgSbDc_nZ7Ka5Lp3UxIvPXWXcD8_wTaTI")

    title= "Iain Maitland"
    <div itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Iain Maitland</span>
      <span itemprop="email">iainatiainmaitlanddotcom</span>
    </div>
    != css('/')

  body

    logobox

      logo
       p  / /\ / /\/

      navbar
        navlink
          a(href="/index") Photos
        navlink
          a(href="/films") Films
        navlink
          a(href="/blog") Blog

    block infobox

    block photos

    block blogpost

    block threedpost

    block threedposttext

  != js('/')
