doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Iain Maitland Films and Photographs')
    meta(name='author', content= "Iain Maitland")
    //- uncomment if your site is responsive!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Iain Maitland Detroit Photographer"
    != css()

  body

  .logobox
    span
      .logo
        span / /\ / /\/

      .links
        a(href="/index")
          span Photos 
        a(href="/films")
          span Films  
 
  .infobox
    .text
      :marked
          Iain Maitland has worked as a photographer and location producer in Detroit with, National Geographic, Vice, Viceland, 538, BBC, MetroTimes and Mother Jones. You can find him on [instagram](https://instagram.com/iainmaitland) or email iain@iainmait.land

  block nav
  block content

  != js()
