blogtext
  margin-bottom: 2%
  border: 1px solid orange
  center(40%)
  font-family: georgia
  color: #555

  @media (max-width: sixteenh)
    center(40%)

  @media (max-width: fourteenh)
    center(50%)

  @media (max-width: twelveh)
    center(60%)

  @media (max-width: tenh)
    center(70%)

  @media (max-width: eighth)
    center(80%)

  @media (max-width: sixh)
    center(90%)

  @media (max-width: fourh)
    center(100%)

  blogtext2
    center(90%)

    img
      height: 100%
      width: 100%



