blogtext
  margin-bottom: 2%
  border: 1px solid orange
  center(40%)
  font-family: georgia
  color: #555

  @media (max-width: 1600px)
    center(40%)

  @media (max-width: 1400px)
    center(50%)

  @media (max-width: 1200px)
    center(60%)
  
  @media (max-width: 1000px)
    center(70%)

  @media (max-width: 800px)
    center(80%)

  @media (max-width: 600px)
    center(90%)

  @media (max-width: 400px)
    center(100%)

  blogtext2
    center(90%)
    
    img
      height: 100%
      width: 100%


      
