logobox

  margin-bottom: 2%

  center();
  text-align: center;

  logo
    fs: 1rem
    color: navy

  navbar
    center(40%)
    +below(600px)
      center(60%)
    +below(400px)
      center(80%)

    navlink
      span(1/4)
      a
        link: green 'darken'
