infobox
  center()
  text-align: left
  font-family: $georgia
  margin-left: 5%

  +above(575px)
    margin-left: 5%;
    center()

  +above(1600px)
    margin-left: 0;
    center()

  a
    link: green 'darken'
