.ig-b-
  display: inline-block

.ig-b- img
  visibility: hidden

.ig-b-
  :hover
    background-position: 0 -60px
  :active
    background-position: 0 -120px

.ig-b-24
  width: 24px
  height: 24px
  background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png)
  no-repeat 0 0
