#canvas--text
  center()
  width: 90%
  line-height: 2

  +above(400px)
    width: 90%
  +above(600px)
    width: 80%
  +above(600px)
    width: 70%
  +above(800px)
    width: 60%
  +above(1000px)
    width: 50%