vimeo
  center()

  .vimeo-container
    width: 90%
    center(100%)
    position: relative
    padding-bottom: 56.25%

    iframe
      position: absolute
      width: 100%
      height: 100%

  .caption
    width: 90%
    p
      blockquote()
    a
      link: green 'darken'
