@import '_settings'
@import '_insta'

normalize-css()
base()

body
  padding: 10px
  height: 100%

#logo 
  text-align: center
 

.photo
  display: block
  +below(780px)
    margin: 0px 0px 0px 0px

  img
    display: block
    margin: 0 auto
    max-width: 100%
    max-height: 100%

.caption
  text-align: center

.links
  reset-list()

  a
    color: #35404C
    group()

    &:hover .icon
      transform: scale(1.1) rotate(-3deg)

  h3
    font-family: sommet-rounded
    font-size: 1.3em
    color: #E0E9F4
    margin: 0.3em 0 0.5em 0

  li
    group()

  a
    group()

  .icon, .text

  .text
    text-align: center
    +below(500px)
      width: 100%

    +below(400px)
      width: 100%
