@import '_settings'

normalize-css()
base()

body
  padding: 10px

#logo 
  transform: rotate(-20deg)
  transform-origin: top left
 
  p

  ul
    list-style: none
    padding-left: 15px

picture
  display: block

img
  max-width: 100%
  height: auto
