---
title: 'Danny Brown 3D Head'
date: 01/01/2015
_content: false
_render: true
---
extends ../views/post_layout

block blogpost

  blogtext

    blogtext2

      :markdown
        ## Danny Brown 3D

        ![danny-brown-3d-head](/img/posts/2016-11-29-danny-brown-head-3d.jpg)
        ![danny-brown-3d-head-rigged](/img/posts/2016-11-29-danny-brown-head-3d-rigged.jpg)

        Low poly 3.2k vertices model of Danny Brown's Head from 2013, CC Attribution License. 
        Modelled and topologized in Z-brush. XSI faceRobot rig.  

      a(href='https://sketchfab.com/models/917bbbd5f5e344089977d86aa0000b0c#download')='DOWNLOAD-OBJ'

      iframe(width='100%', height='480', src='https://sketchfab.com/models/917bbbd5f5e344089977d86aa0000b0c/embed', frameborder='0', allowvr, allowfullscreen, mozallowfullscreen='true', webkitallowfullscreen='true')
