---
title: 'Pro Dancer'
date: 28/11/2016
_content: false
_render: true
---
extends ../views/post_layout

block blogpost

  blogtext

    blogtext2

      :markdown
        ## Pro dancer.
        I am a professional dancer.  
        But that does not mean that when I go on holiday I do not dance.  
        
        I went up  onto the dunes just after it had snowed.  

        Then I practiced my dance.  
        After a while there was a park ranger and a horse standing behind me on the path.  

        And no matter how hard he tried he could not get the horse to pass me.  

        My dance ended and I let them pass.  
        This man was more handsome than my husband.  

        I turned back towards the road and as it became dark,
        I whooped and holered at the trees.  

        The ranger returned, there was not much happening in the forest,
        And I let them pass.  

