---
title: 'Helix loader demo'
date: 05/03/2017
_content: false
_render: true
---
extends ../views/post_layout

block threedpost
  #canvas
  script(src='/js/three/three.js')
  script(src='/js/scenes/loaderdemo.js')
