---
title: 'Facebook as a Transitional Object'
date: 01/02/2017
_content: false
_render: true
---
extends ../views/post_layout

block threedpost
  #canvas
  script(src='/js/three/three.js')
  script(src='/js/three/Detector.js')
  script(src='/js/three/controls/OrbitControls.js')
  script(src='/js/three/shaders/UnpackDepthRGBAShader.js')
  script(src='/js/three/utils/ShadowMapViewer.js')
  script(src='/js/scenes/transitionalObject.js')

block threedposttext
  #canvas--text
    :marked
      # FACEBOOK AS A TRANSITIONAL OBJECT.

      ## TL;DR

      Facebook is like a transitional object. It is something we hold onto in times of anxiety. It gives us comfort because we never ask ‘is this part of me, or something external to me.’ Because we never question it in this way, we are afforded a space where we have the illusion that the outer world accords with our inner life. This gives us a magical feeling akin to omnipotence, this feeling is important to us and eventually we form groups around our shared illusory experiences. Sometimes this leads to mass movements and significant changes in the way we all live.

      ---

      ## PART I

      The idea of the transitional object comes from Donald Winnicott. Winnicott was the first pediatrician in the United Kingdom to be trained as a psychoanalyst. His focus was developmental theories: what a person’s earliest experiences, with their ‘mother’ or any good enough caregiver, mean.

      > “At the start is an essential aloneness. At the same time this aloneness can only take place under  maximum conditions of dependency.”

      Winnicott was preoccupied with how we transition from this initial state of dependency to one where we are individuals in the world. Importantly, Winnicott conceptualized our utmost aloneness and dependence as infants as putting us in communication with some notion of the infinite — namely omnipotence.

      For example at the beginning our ‘mother’ is perfectly adapted to our needs. We are presented with a breast at the moment we conceive of hunger; it is like we created the breast from which we feed. This metaphor where the breast satisfies a nascent hunger extends to any want or need satisfied by the ever-attendant care-givers. The cumulative effect of this attention, at the beginning at least, is that we are in some way deluded into believing that we control the world around us and that what we create in our minds really comes to exist.

      This illusion of omnipotence is slowly eroded as our parents become less adapted to our every whim. Gradually we get used to longer periods of frustration. We learn that a process exists and sometimes waiting is enough. Later on we are weaned, and encouraged to explore where we end and where the world begins. Eventually, we find ourselves able —  by remembering, reliving, fantasizing and dreaming —  to live in a resistant world where accord between our inner life and the outside world is the exception rather than the rule. Transitional objects, as their name suggests, help us make this transition.

      Winnicott gives as examples of transitional objects: the frayed corner of a sheet or blanket or a favorite soft toy like a teddy bear. Winnicott extends these objects to phenomena and includes particular pieces of music, comforting mannerisms or behavior patterns that can help comfort  babies at times of loneliness or anxiety. That said, when trying to understand transitional objects, what they are exactly is less important than their role and how an infant relates to them.

      A transitional object’s role is as a hopeful reminder throughout innumerable vicissitudes of our original state. One in which we had the magical feeling that we had the control to make things in the real world match our inner ideas. Crucial for the survival of these transitional phenomena is that we never address their outer character. For example parents learn about the extra-ordinariness of transitional objects, going so far as to avoid washing them and never fundamentally altering them in case they lose their special characteristics. Because they remain unchallenged and unchanged transitional phenomena are thereby exempted by the demands made by everything else that we ‘grow up.’

      > “Of the transitional object it can be said that it is a matter of agreement between us and the baby that we will never ask the question ‘Did you conceive of this or was it presented to you from without?’ The important point is that no decision on this point is expected. The question is not to be formulated.”

      How the infant relates to a transitional object incorporates this unquestioned aspect. It is not a hallucination, nor is it something belonging to the external world, rather the transitional phenomena exists in an intermediate state. The transitional object spans the infant’s internal and external world, without seeming to belong to either, or without its belonging ever needing definition. Winnicott defines how the infant relates to a transitional object in the following way:

      > 1. The infant assumes rights over the object, and agree to this assumption.Nevertheless some abrogation of omnipotence is a feature from the start.
      2. The object is affectionately cuddled as well as excitedly loved and mutilated.
      3. It must never change, unless changed by the infant.
      4. It must survive instinctual loving, and also hating, and, if it be a feature, pure aggression.
      5. Yet it must seem to the infant to give warmth, or to move, or to have texture, or to do something that seems to show it has vitality or reality of its own.
      6. It comes from without from our point of view, but not so from the point of view of the baby. Neither does it come from within; it is not an hallucination.
      7. Its fate is to be gradually decathected, so that in the course of years it becomes not so much forgotten as relegated to limbo. By this I mean that in health the transitional object does not ‘go inside’ nor does the feeling about it necessarily undergo repression. It is not forgotten and it is not mourned. It loses meaning, and this is because the transitional phenomena have become diffused, have become spread out over the whole intermediate territory between ‘inner psychic reality’ and ‘the external world as perceived by two persons in common’, that is to say, over the whole cultural field.

      > “At this point my subject widens out into that of play, and of artistic creativity and appreciation, and of religious feeling, and of dreaming, and also of fetishism, lying and stealing, the origin and loss of affectionate feeling, drug addiction, the talisman of obsessional rituals, etc.”

      Finally, then, we reach a point where the transitional object dissolves and its key usefulness comes into focus. It initiates a continuum of meaning between ourselves and the world around us and this continuum is at the core of what makes life in a world of frustrations, disappointments and struggles, worth living. The value of this continuum/connection can be illustrated by its negative, what happens when it is broken:


      > “A relationship to external reality which is one of compliance, the world and its details being recognised but only as something to be fitted in with or demanding adaptation. Compliance carries with it a sense of futility for the individual and is associated with the idea that nothing matters.”


      ## PART II

      It is not so hard to extend the idea to Facebook. Just like a Transitional Object we never ask of  it: is this part of me or external to me? Our profile pages, timelines, and News Feed feel like something created by us and simultaneously provided by the environment. Facebook’s algorithms diligently monitor our behaviour, processing thousands of signals so that they can present us with what we want at just the right moment and keep us engaged. Facebook is therefore much like a Transitional Object, an intermediate  space where we can re-discover the illusion of accord between our inner lives and the external world.

      > “I am here staking a claim for an intermediate state between a baby’s inability and growing ability to recognize and accept reality. I am therefore studying the substance of illusion, that which is allowed to the infant, and which in adult life is inherent in art and religion. We can share a respect for illusory experience, and if we wish we may collect together and form a group on the basis of the similarity of our illusory experiences. This is a natural root of grouping among human beings.”

      This feels like a more useful description of what Facebook is than what we are used to. In the first case it provides a clearer idea of what Facebook is to us as its users. In the second case, this allows us to reexamine some of our insecurities and misgivings about Facebook.

      Mark Zuckerberg has said …

      > ["My goal and what I care about is giving people the power to share, giving every person a voice so we can make the world more open and connected. That's the mission"](http://techonomy.com/conf/te16/videos-conversations-with-2/in-conversation-with-mark-zuckerberg/)

      Trying to pin down what exactly is meant by the 'power to share', or 'voice', 'open' and 'connected' in  remains difficult. For example, they do not mean the same thing in the USA as they do in China or Europe. As a transitional object however the meaningfulness of Facebook is rooted in the individual and in the immediate context of their scene.

      > [“One part of this that I think is important is we really believe in people and you don’t generally go wrong when you trust that people understand what they care about and what’s important to them, and you build systems that reflect that.”](http://techonomy.com/conf/te16/videos-conversations-with-2/in-conversation-with-mark-zuckerberg/)

      Foregrounding the individual in this way gives us a clear indication that Facebook is what we make of it as its users. It helps us acknowledge our own significance in defining what the platform is be cause we do not ignore our own agency, especially when “We can share a respect for illusory experience, and if we wish we may collect together and form a group on the basis of the similarity of our illusory experiences.”

      Using the notion of illusory experience helps us make sense of the Fake News and Filter Bubble debacles. Our most trenchant and persistent criticism of Facebook has been rooted in a skeptical view of its illusory component; one where illusory experience is scapegoated as our fatal flaw to be subsequently exploited by Facebook’s evil machinations. We view the net-worth of its board of directors as being directly proportional to their malign influence in our society, pulling the wool over our eyes with an addictive illusion while voraciously funneling our private information into vast data-centers where AI is trained to new heights of persuasiveness. In this view ‘The Filter Bubble’ and ‘Fake News’ can easily be seen to be be mere effects of the following feedback loop:
        1. User engages with material that matches their base desires, they are seduced and enveloped by these illusions, and the illusory experience of having their internal life seemingly manifest in the real world, this feels important to them so they form groups on this basis, like the prisoners in Plato's allegory of the cave.
      2. Facebook optimizes for engagement, presenting this user with more specialized material, eventually this material detaches from reality altogether.

      However this results in a skeptical cul-de-sac where the meaningfulness of Facebook is ignored. Instead it is scapegoated so that we can largely avoid taking responsibility for our actions. To refute these claims Mark Zuckerberg has emphasised our agency in deciding what Facebook is for and  does. Regarding Fake News he has said:

      > [“I do think there is a certain profound lack of empathy in asserting that the only reason someone could have voted the way they did is they saw some fake news … If you believe that, then I don’t think you have internalized the message the Trump supporters are trying to send in this election.”](http://techonomy.com/conf/te16/videos-conversations-with-2/in-conversation-with-mark-zuckerberg/)

      And regarding the Filter Bubble:

      > [“The research also shows something that is a little bit less inspiring, which is that we study not only people’s exposure in Newsfeed to content from different points of view, but then what people click on and engage with. By far the biggest filter in the system is not that the content isn’t there, [or] they don’t have friends who support the other candidate or are of another religion, [it’s that] you just don’t click on it. You actually tune it out when you see it. You have your world view. You go through, and I think that we would all be surprised how many things that don’t conform to our world view that we just tune out.”](http://techonomy.com/conf/te16/videos-conversations-with-2/in-conversation-with-mark-zuckerberg/)

      Usefully Winnicott’s transitional object helps us out of the skeptical cul-de-sac by foregrounding our agency in choosing our illusory experiences and thereby restoring their hopeful character. It also matches Mark Zuckerberg’s informed view on what happens on Facebook.

      In particular our transitional objects and the illusory experiences that they encompass meet us halfway, at an intermediate state, that does not demand compliance.

      > “From birth, therefore, the human being is concerned with the problem of the relationship between what is objectively perceived and what is subjectively conceived of, and in the solution of  this problem there is no health for the human being who has not been started off well enough by the mother. The intermediate area to which I am referring is the area that is allowed to the infant between primary creativity and objective perception based on reality-testing. The transitional phenomena represent the early stages of the use of illusion, without which there is no meaning for the human being in the idea of a relationship with an object that is perceived by others as external to that being.”

      Because of this illusory experiences are more than simple wish-fulfillment. Firstly, they inherently oppose anything that gives us too great a feeling of having to comply. Secondly they substitute a single, monolithic  idea for a plurality of copies edited and adapted by individuals. Thirdly because they let us meet them ‘halfway’ as participants and beholders in our own situation they are made relevant in a personal way. Fourthly, we form groups around these shared illusory experiences, which gives them an inherently political basis, distinct from ‘narcissism’ or other rituals that we skeptically associate with illusions. The net effect of these processes is intimately related to contemporary mass movements, many of which Facebook has been at the center of. Both the election of Trump and the subsequent mass protests can be understood in this way.

      Therefore we can see the positive side of illusory experiences that the transitional object unlocks for us. Facebook has been instrumental in innumerable mass movements across the globe and remains a force for popular protest. As a transitional object with its illusory experiences it helps us create and share meanings en masse, which inevitably becomes a political act.