---
title: 'Comedian'
date: 17/06/2017
_content: false
_render: true
---
extends ../views/post_layout

block blogpost

  blogtext

    blogtext2

      :marked
        ## Comedian.
        Comedian.

        Turns out there’s a few things you ought not to
        Publicly disparage.
        Like the TSA,
        Or Other people’s choices.

        Turns out that
        sometimes you think
        You are alone
        But you are not.
         
        Like when you’re talking to your dog.
        Or riding the bus.

        Turns out that walking
        Makes you feel better
        Like taking a walk.
