---
title: 'Facebook as a Transitional Object'
date: 01/02/2017
_content: false
_render: true
---
extends ../views/post_layout

block threedpost
  #canvas
  script(src='/js/three/three.js')
  script(src='/js/three/Detector.js')
  script(src='/js/three/controls/OrbitControls.js')
  script(src='/js/three/shaders/UnpackDepthRGBAShader.js')
  script(src='/js/three/utils/ShadowMapViewer.js')
  script(src='/js/scenes/transitionalObject.js')

block threedposttext
  #canvas--text
    :marked
      # Facebook as a Transitional Object.
      The idea of the transitional object comes from Donald Winnicott. Winnicott was the first pediatrician in the United Kingdom to be trained as a psychoanalyst. His focus was developmental theories - what a person’s earliest experiences , often with their ‘mother’ (which could be any good-enough care-giver) mean.
      > “ At the start is an essential aloneness. At the same time this aloneness can only take place under  maximum conditions of dependency.”

      Winnicott was preoccupied with how we transition from this initial state of dependency to one where we are individuals in the world. Importantly Winnicott conceptualized our utmost aloneness and dependence as infants as putting us in communication with some notion of the infinite - namely omnipotence. For example at the beginning our ‘mother’ is perfectly adapted to our needs. We are presented with a breast at the moment we conceive of hunger, and it is like we created the breast from which we feed. This metaphor where the breast satisfies a nascent hunger extends to any want or need satisfied from without by the ever-attendant care-givers. The cumulative effect of this attention, at the beginning at least is that we are in some way deluded into believing that we control the world around us and that what we create in our minds really comes to exist.

      This illusion of omnipotence is slowly eroded as our parents become less adapted to our every whim. Gradually we get used to longer periods of frustration. We learn that a process exists and sometimes waiting is enough. Later on we are weaned, and encouraged to explore where we end and the world begins. Eventually, we find ourselves able, through remembering, reliving, fantasizing and dreaming to live in a resistant world where accord between our inner life and the outside world is the exception rather than the rule. Transitional objects, as their name suggests help us make this transition.

      Winnicott gives as examples of transitional objects such things as: The frayed corner of a sheet or blanket or a favorite soft toy like a teddy bear . Winnicott extends these objects to phenomena and includes particular pieces of music, comforting mannerisms or behaviour patterns that can help comfort  babies at times of loneliness or anxiety.  That said, when trying to understand transitional objects, what exactly they are is less important than their role and how an infant relates to them.

      A transitional object’s role is as a hopeful reminder throughout innumerable necessary vicissitudes of our original state. One in which we had the magical feeling that we had the control to  make things in the real world match our inner ideas. Crucial for the survival of these transitional phenomena is that they persist in a way that means we never address their outre character. For example parents learn about the extra-ordinariness of transitional objects, going so far as to carry them around with the baby and to avoid washing them, - never fundamentally altering them in case they lose their special characteristics. Because they remain unchallenged and unchanged (except by the infant) transitional phenomena are thereby exempted by the demands made by everything else that we ‘grow up’.

      > “Of the transitional object it can be said that it is a matter of agreement between us and the baby that we will never ask the question ‘Did you conceive of this or was it presented to you from without?’ The important point is that no decision on this point is expected. The question is not to be formulated.”

      How the infant relates to a transitional object incorporates this unquestioned aspect.  It is not a hallucination, nor is it  something belonging to the external world, rather for the infant the transitional phenomena exists in an intermediate state. The transitional object spans the infant’s internal and external world, without seeming to belong to either, or without its exact belonging ever needing definition. Winnicott defines how the infant relates to a transitional object in the following way:

      > 1. The infant assumes rights over the object, and agree to this assumption. Nevertheless some abrogation of omnipotence is a feature from the start.
      2. The object is affectionately cuddled as well as excitedly loved and mutilated.
      3. It must never change, unless changed by the infant.
      4. It must survive instinctual loving, and also hating, and, if it be a feature, pure aggression.
      5. Yet it must seem to the infant to give warmth, or to move, or to have texture, or to do something that seems to show it has vitality or reality of its own.
      6. It comes from without from our point of view, but not so from the point of view of the baby. Neither does it come from within; it is not an hallucination.
      7. Its fate is to be gradually decathected, so that in the course of years it becomes not so much forgotten as relegated to limbo. By this I mean that in health the transitional object does not ‘go inside’ nor does the feeling about it necessarily undergo repression. It is not forgotten and it is not mourned. It loses meaning, and this is because the transitional phenomena have become diffused, have become spread out over the whole intermediate territory between ‘inner psychic reality’ and ‘the external world as perceived by two persons in common’, that is to say, over the whole cultural field.

      Finally then we reach a point where the transitional object dissolves and it’s key usefulness comes into focus - It helps us create a connection with the world around us and importantly that connection is at the core of what makes life in a world of frustrations, disappointment and struggle worth living.

      > “I am here staking a claim for an intermediate state between a baby’s inability and growing ability to recognize and accept reality. I am therefore studying the substance of illusion, that which is allowed to the infant, and which in adult life is inherent in art and religion. We can share a respect for illusory experience, and if we wish we may collect together and form a group on the basis of the similarity of our illusory experiences. This is a natural root of grouping among human beings. Yet it is a hall-mark of madness when an adult puts too powerful a claim on the credulity of others, forcing them to acknowledge a sharing of illusion that is not their own.

      Here Winnicott extends the transitional object into adult-life. Art and religion are mentioned as spaces where we share illusions and where we can re-discover there is an accord between our inner lives and the external world. Later on he notes that:

      > “At this point my subject widens out into that of play, and of artistic creativity and appreciation, and of religious feeling, and of dreaming, and also of fetishism, lying and stealing, the origin and loss of affectionate feeling, drug addiction, the talisman of obsessional rituals, etc.”


