---
title: 'Algorithmic Governmentality'
date: 18/05/2017
_content: false
_render: true
---
extends ../views/post_layout

block blogpost

  blogtext
    blogtext2
      :marked
        ## Bernard Stiegler Reading List.
        [The Digital Regime of Truth: From the Algorithmic Governmentality to a New Rule of Law](/pdf/Rouvroy-Stiegler.pdf)

        [Automatic Society](/pdf/Automatic-Society.pdf)
        
        [Introduction: Noology and Technique](/pdf/Introduction-Noology-and-Technique.pdf)
